@use "global" as *;

.not-found {
  width: 100%;
  text-align: center;
  padding: rem(100) rem(20);
}

.not-found__title {
  font-size: rem(60);
  font-family: $second-font-family;
  font-weight: $bold;
  color: $white;

  @include mq() {
    font-size: rem(80);
  }
}

.not-found__text {
  font-size: rem(20);

  @include mq() {
    font-size: rem(30);
  }
}
