@use "global" as *;

html {
  //~375px
  @media (max-width: 375px) {
    font-size: vw(375, 16);
  }

  //375px~787px
  font-size: 16px;

  //768px～1099px
  @include mq("md") {
    font-size: vw(strip-unit($inner), 16);
  }

  //inner1100px~max-screen
  @media (min-width: $inner) {
    font-size: 16px;
  }
}

/* ホバー */
a {
  text-decoration: none;
  color: inherit;

  @media (any-hover: hover) {
    transition: opacity 0.3s;
    cursor: pointer;
  }
}

body {
  color: $black;
  font-weight: $regular;
  letter-spacing: 0.05em;
  background: $white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-wrap: break-word;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $regular;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}
