@use "global" as *;

.header__drawer {
  margin-top: rem(22);
  position: fixed;
  top: 0;
  right: rem(22);

  @include mq() {
    margin-top: rem(52);
    right: rem(52);
  }
}

.header__drawer.is-open {
  margin-top: rem(32);
  
  @include mq() {
    margin-top: rem(62);
  }
}

.header__nav.nav {
  transition: .5s;
  position: fixed;
  top: 0;
  right: -100%;
  background-color: $white;
  width: 100%;
  height: 100vh;
  z-index: map-get($layer, 'drawer');
  border-left: 1px solid $gray;

  @include mq() {
    width: 30%;
  }
}

.header__nav.nav.is-open {
  right: 0;//右から出現
}

.header__nav .nav__items {
  width: 100%;
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__nav .nav__item:first-child {
  border-top: 8px dotted $gray;
}

.header__nav .nav__item {
  border-bottom: 8px dotted $gray;
}

.header__nav .nav__item a {
  display: inline-block;
  width: 100%;
  padding: rem(15.6) 0;
  text-align: center;
  color: $black;
  font-size: rem(18);
  letter-spacing: .2em;

  @include mq() {
    font-size: rem(20);
    transition: .3s;
  }
}

.header__nav .nav__item a:hover {

  @media (any-hover:hover) {
    background: $blue-sub;
    color: $white;
  }
}

.nav__item span {
  display: block;
  font-size: rem(14);
}
